<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="https://jcarr.xyz/css/style.min.bf1df006578d0cebba599fe7d79db9e7c0960d565d11c83ae01dd5ff549baa38.css" integrity="sha256-vx3wBleNDOu6WZ/n152558CWDVZdEcg64B3V/1Sbqjg=" crossorigin="anonymous">
    {{ template "title.html" . }}
  </head>

  <body>
    <main>
      {{ template "about.html" . }}
      {{ template "mission.html" . }}
      {{ template "experience.html" . }}
      {{ template "education.html" . }}
      {{ template "skills.html" . }}
    </main>
  </body>

</html>
